.app {
  display: grid;
  grid-template-areas:
    ". title ."
    ". game controls";
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  text-align: center;
  grid-area: title;
}

button {
  padding: 4px;
}

.board {
  border: 2px solid black;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.controls {
  grid-area: controls;
}

.row {
  display: flex;
}

.upcoming {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  margin-left: 20px;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.hidden {
  visibility: hidden;
}

.cell.Empty {
  background-color: rgb(148, 188, 224);
}

.cell.B {
  background-color: rgb(80, 227, 230);
}

.cell.G {
  background-color: rgb(36, 95, 223);
}

.cell.S {
  background-color: rgb(223, 173, 36);
}

.cell.W {
  background-color: rgb(223, 217, 36);
}

.cell.SO {
  background-color: rgb(48, 211, 56);
}

.cell.WO {
  background-color: rgb(132, 61, 198);
}

.cell.GI {
  background-color: rgb(227, 78, 78);
}

.cell.SOL {
  background-color: rgb(48, 150, 48);
}

.cell.M {
  background-color: rgb(229, 231, 87);
}
